In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/raw.csv")
df.head()

           Language  Total Speakers  Native Speakers         Origin
0           English      1132366680      379007140.0  Indo-European
1  Mandarin Chinese      1116596640      917868640.0   Sino-Tibetan
2             Hindi       615475540      341208640.0  Indo-European
3           Spanish       534335730      460093030.0  Indo-European
4            French       279821930       77177210.0  Indo-European

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Language         100 non-null    object
 1   Total Speakers   100 non-null    int64
 2   Native Speakers  96 non-null     float64
 3   Origin           100 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 3.3+ KB

In [4]:
print(df.isna().sum())

Language           0
Total Speakers     0
Native Speakers    4
Origin             0
dtype: int64

In [9]:
df[df['native_speakers'].isna()]

              language  total_speakers  native_speakers         origin
5      Standard Arabic       273989700              NaN   Afro-Asiatic
35            Filipino        45000000              NaN   Austronesian
49     Nigerian Pidgin        30000000              NaN  Indo-European
95  Cameroonian Pidgin        12000000              NaN  Indo-European

In [14]:
df['native_speakers'] = df['native_speakers'].fillna(0)

In [5]:
df.columns

Index(['Language', 'Total Speakers', 'Native Speakers', 'Origin'], dtype='object')

In [7]:
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df.columns

Index(['language', 'total_speakers', 'native_speakers', 'origin'], dtype='object')

In [8]:
df.describe()

       total_speakers  native_speakers
count    1.000000e+02     9.600000e+01
mean     8.276973e+07     5.838473e+07
std      1.770947e+08     1.153839e+08
min      1.135000e+07     2.208000e+06
25%      1.524678e+07     1.451462e+07
50%      2.888955e+07     2.460148e+07
75%      6.543730e+07     5.368886e+07
max      1.132367e+09     9.178686e+08

In [10]:
df.duplicated().sum()

np.int64(0)

In [12]:
(df['total_speakers'] < df['native_speakers']).sum()

np.int64(0)

In [16]:
df.to_csv("../data/clean.csv", index=False)